body {
    /* background-image: url(../images/train-station-1868256__340.jpg);
    width:100%;
    height: auto;
    display: block; */
}

.border {
    border-style: solid;
    border-width: .15rem;
    border-color: #0A1612;
}
.screen {
    background-color: #C5C1C0;
}

.steel {
    background-color: #0A1612;
}

.denim {
    background-color: #1A2930;
}

.marigold {
    background-color: #F7CE3E;
}

.img-fill {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.sidenav {
    width: 15vw;
    z-index: 1;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 2rem 0;
    align-items: stretch;
  }

  .table-striped>tbody>tr:nth-child(odd)>td,
    .table-striped>tbody>tr:nth-child(odd)>th {
        background-color: rgba(206, 206, 206, 0.342);
    }